.profile__row {
  display: flex;
  flex-direction: row;
  min-width: 336px;
}

@media screen and (max-width: 899px) {
  .profile__row {
    min-width: 282px;
    max-width: 282px;
    justify-content: flex-end;
  }
}