.popup__save-button {
  background-color: #000;
  color: #fff;
  border: none;
  height: 50px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 37px;
  transition: background 0.3s;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .popup__save-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
